* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ccc; /* Cor de fundo cinza */
  padding: 8px;
  font-family: Arial, sans-serif;
}

header {
  background-color: #FFA500;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  border-radius: 8px;
}

main {
  padding: 16px;
}