/* Plano de fundo */
body {
  font-family: Arial, sans-serif;
  margin: 10px; /* Correção: era margin: 10; */
  padding: 20px;
  background-color: #91898391;
}

/* ABA SUPERIOR CATEGORIA */
header {
  background-color: #f78401;
  color: #fff;
  text-align: center;
  padding: 12px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 15px;
  font-size: large;
  height: 70px;
}

.categorias-container {
  display: flex;
  justify-content: space-around;
  padding: 60px; /* Ajusta as colunas M/F */
}

.navigation-menu {
  display: inline-block;
  margin: 26px; /* Ajustado a margem */
  padding: 0;
}

.navigation-menu li {
  display: inline-flex;
  margin-left: 42px;
}

.navigation-button {
  background-color: #eb8c20;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 30px;
  border-style: groove;
  transition: background-color 0.3s ease;
}

.navigation-button:hover {
  background-color: #bd7420;
}

.produto a img {
  width: 56px; /* Ajuste o tamanho do logo do WhatsApp conforme necessário */
  height: auto;
}

.categoria-masculino, .categoria-feminino {
  width: 65%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid orange; /* Adicionado a borda laranja entre os produtos */
}

.categoria-masculino {
  background-color: #666;
}

.categoria-feminino {
  background-color: #FFC0CB;
}

.produto {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid orange; /* Adicionado a borda laranja entre os produtos */
  padding-bottom: 10px; /* Adicionado espaçamento entre a borda e o texto */
}


.produto p {
  font-size: 1.1em;
  margin-top: 10px;
  color: #333;
}
.carrossel {
  display: flex;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  margin-bottom: 10px;
}

.carrossel img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.produto {
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid orange;
  padding-bottom: 10px;
  position: relative;
}

.produto .next {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.produto .prev {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
