
/*------plano de fundo -----------------------------------------------------------------------*/
body {
  font-family: Arial, sans-serif;
  margin: 10;
  padding: 20;
  background-color: #91898391;
}

/*- ABA SUPERIOR CATEGORIA ---*/
header {
  background-color: #f78401;
  color: rgb(250, 245, 245);
  text-align: center;
  padding: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 35px;
  font-size: large;
  
}

.main {
  padding: 40px;
}

.categorias-container {
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.produto a {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.produto a img {
  width: 45px; /* Ajuste o tamanho do logo do WhatsApp conforme necessário */
  height: auto;
}


.categoria-masculino, .categoria-feminino {
  width: 65%;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categoria-masculino {
  background-color: #666;
}

.categoria-feminino {
  background-color: #FFC0CB;
}

.produto {
  margin-bottom: 20px;
  text-align: center;
}

.produto img {
  width: 80%;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.produto p {
  font-size: 1.1em;
  margin-top: 10px;
  color: #333;
}

h2 {
  color: #333;
}

/* carrousel para cad foto dos produtos---*/ 

/* Restante do seu CSS */


.carrossel {
  display: flex;
  justify-content:baseline;
  overflow-x: auto;
  margin-bottom: 10px;
}

.carrossel img {
  width: 10px; /* Largura máxima das imagens no carrossel */
  height: 10px;
  border: 1px solid #ccc; /* Borda cinza ao redor das imagens */
  border-radius: 5px; /* Borda arredondada */
  margin: 0 0px; /* Espaçamento entre as imagens */
}


/*-------------espaço destinado para o caroussel das fotos dos produtos---------------*/

.produto {
  margin-bottom: 2px;
  text-align: left;
  border: 2px solid orange; /* Borda laranja */
  border-radius: 10px; /* Borda arredondada */
  padding: 1px; /* Espaçamento interno */
  position: relative;
}


.produto .carousel {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
}

.produto .carousel img {
 max-width: 20px; /* Largura das imagens */
 max-height: 20px; /* Altura das imagens */
  border: 4px solid #ccc; /* Borda cinza ao redor das imagens */
  border-radius: 5px; /* Borda arredondada */
  margin-right: 5px; /* Espaçamento entre as imagens */
}


.produto .prev, .produto .next {
  background-color: orange;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.produto .next {
  right: 5px;
}

/*--------------------------------------*/
