.titulo {
  margin: 0 auto;
}

.contatos {
  display: flex;
  justify-content: space-around;
}

.contato-circulo {
  padding: 46px;
  border: 5px solid #FFA500;
  border-radius: 80%;
}

.photo {
  margin: 10px;
}

.photo img {
  max-width: 100%;
  height: auto;
}