/*parte destinada aos botoes de navegaçao*/
#promoçoes {
    border-bottom: 50px;
    align-items: flex-start;
}

.navigation-menu {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
}

/* inicio.css *//* inicio.css "CONFIGURANDO BOTOES DE NAVEGAÇAO" */
.navigation-button {
    background-color: #eb8c20; /* Cor para os botoes  */
    color: #fff; /* Cor do texto padrão */
    padding: 08px 16px; /* Espaçamento interno do botão */
    border:none;
    cursor:pointer;  /* define o estilo do botao de click*/
    text-decoration: none; 
    text-align: center; /* alinha o texto */
    border-radius: 30px;
}
/*-----------------------------------------------------------------------------------------------------------------------*/

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-100%))}
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%); /* Move as imagens para a esquerda velocidade dos tenis em carousel*/
    }
}

/*  Styling  */
.carousel {
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: linear-gradient(to bottom, #ffcc99, #ff9933); /* Gradiente de laranja claro a laranja escuro */
}

.carousel-track {
    animation: carousel 40s linear infinite;
    display: flex;
    gap: 200px;
}

.carousel-track:hover {
    animation-play-state: paused;
}

.carousel-img {
    width: 160px;
    height: auto;
    object-fit: contain;
}
	
/*  Styling  */
.slider {
    margin-top: 2rem;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
    justify-content: space-between;
}
	
.slide-img {
    width: 80px;
    height: 60px;
    object-fit: contain;
}